{% extends "base.html" %}

{% block title %}Loading Screen Effect 3{% endblock %}

{% block head_links %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading_screen.css') }}">
{% endblock %}

{% block content %}
<div class="effect-container">
    <h1>Loading Screen Effect 3: Pulsing Circle</h1>
    <div class="loader-container">
        <div class="pulsing-circle"></div>
    </div>
    <p>A circle that smoothly pulses in size.</p>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/loading_screen.js') }}"></script>
{% endblock %}
